{:nrepl        {:port 8777}
 :source-paths ["src/clj" "src/cljs"]
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js/compiled"
                      :modules    {:app {:init-fn tmrecords.core/init}}
                      :devtools   {:http-root "resources/public"
                                   :http-port 8280}}}
 :lein         true}